@import 'tailwindcss';
@plugin "daisyui" {
    themes: nord --default;
}
@import "@fortawesome/fontawesome-free/css/all.min.css";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}
.filepond--credits{
    display: none !important;
}
.section {
    @apply px-[280px] py-[60px] relative
}

.d_section{
    @apply flex items-center justify-center flex-col
}
.container {
    @apply w-full px-4 md:px-0 lg:m-auto xl:w-[80rem] lg:w-[64rem] relative;
}
.pad_container{
    @apply py-12 lg:py-16
}

.section_inside {
    @apply lg:m-auto block xl:w-[80rem] py-4 lg:px-4;
}


.btn-primary-green {
    @apply bg-green-600 hover:bg-green-500 text-white border-none outline-none
}

.btn-primary-gray {
    @apply bg-gray-600 hover:bg-gray-500 text-white border-none outline-none
}

.btn-primary-blue {
    @apply bg-blue-600 hover:bg-blue-500 text-white border-none outline-none
}

.store_utilities_item svg {
    @apply size-8 text-green-600
}

.container_store_detail_maker{
    @apply p-4 bg-white
}

.section_absolute{
    @apply px-[280px] absolute
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important; /* Xóa icon mặc định */
}
.swiper-button-prev{
    @apply !w-[40px] !h-[40px] bg-white border rounded-full !border-gray-600 left-0 lg:!left-[-23px] shadow-md
}
.swiper-button-next{
    @apply !w-[40px] !h-[40px] bg-white border rounded-full !border-gray-600 right-0 lg:!right-[-23px] shadow-md
}
.swiper-pagination-bullet-active{
    @apply !bg-gray-600;
}
