@import 'tailwindcss';
@plugin "daisyui" {
    themes: nord --default;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.section {
    @apply px-[280px] py-[60px] relative
}

.section_inside {
    @apply m-auto block xl:w-[80rem] p-4;
}


.btn-primary-green {
    @apply bg-green-600 hover:bg-green-400 text-white border-none outline-none
}
.btn-primary-blue {
    @apply bg-blue-600 hover:bg-blue-400 text-white border-none outline-none
}





.section_absolute{
    @apply px-[280px] absolute
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important; /* Xóa icon mặc định */
}
.swiper-pagination-bullet-active{
    @apply !bg-gray-600;
}
